# Core libraries
python==3.10
torch>=2.5.0
torchvision
numpy
scipy
pandas
matplotlib
seaborn
opencv-python
Pillow
tqdm
requests
pyyaml
wandb==0.18.3
tensorboardX
flash-attn
transformers
datasets
einops
peft
trl
accelerate
